[Desktop Entry]
Name=Papirus
X-KDE-PluginInfo-Name=Papirus
X-KDE-PluginInfo-Author=Oliver Buettner
X-KDE-PluginInfo-Website=https://interfacelift.com/wallpaper/details/3907/reflection_on_the_lake.html
X-KDE-PluginInfo-License=
