[Desktop Entry]
Name=Papirus
Name[ca]=Papirus
Name[ca@valencia]=Papirus
Name[da]=Papirus
Name[en_GB]=Papirus
Name[es]=Papirus
Name[fi]=Papirus
Name[gl]=Papirus
Name[it]=Papirus
Name[nl]=Papirus
Name[nn]=Papirus
Name[pl]=Papirus
Name[pt]=Papirus
Name[pt_BR]=Papirus
Name[sk]=Papirus
Name[sl]=Papirus
Name[sr]=Papirus
Name[sr@ijekavian]=Papirus
Name[sr@ijekavianlatin]=Papirus
Name[sr@latin]=Papirus
Name[sv]=Papirus
Name[uk]=Papirus
Name[x-test]=xxPapirusxx
Name[zh_CN]=Papirus
Name[zh_TW]=Papirus
X-KDE-PluginInfo-Name=Papirus
X-KDE-PluginInfo-Author=Varlesh
X-KDE-PluginInfo-Website=https://github.com/varlesh/papirus-suite
X-KDE-PluginInfo-License=GPL
