[Desktop Entry]
Name=Papirus Dark
Name[ca]=Papirus Dark
Name[ca@valencia]=Papirus Dark
Name[da]=Papirus Dark
Name[en_GB]=Papirus Dark
Name[es]=Papirus Dark
Name[fi]=Papirus Dark
Name[gl]=Papirus Dark
Name[it]=Papirus Dark
Name[nl]=Papirus Dark
Name[nn]=Papirus Dark
Name[pl]=Papirus Dark
Name[pt]=Papirus Dark
Name[pt_BR]=Papirus Dark
Name[sk]=Papirus Dark
Name[sl]=Papirus Dark
Name[sr]=Papirus Dark
Name[sr@ijekavian]=Papirus Dark
Name[sr@ijekavianlatin]=Papirus Dark
Name[sr@latin]=Papirus Dark
Name[sv]=Papirus Dark
Name[uk]=Papirus Dark
Name[x-test]=xxPapirus Darkxx
Name[zh_CN]=Papirus Dark
Name[zh_TW]=Papirus Dark
X-KDE-PluginInfo-Name=Papirus Dark
X-KDE-PluginInfo-Author=Varlesh
X-KDE-PluginInfo-Website=https://github.com/varlesh/papirus-suite
X-KDE-PluginInfo-License=GPL
